<!DOCTYPE html>
<html>
<title>The Freel Feel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
 /* Style the header */
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);

}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: yellow;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.icu:hover{
  background-color: yellow;
}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
</style>
<body class="w3-blue">

<!-- Top container -->
<div class="w3-bar w3-top w3-yellow w3-large" style="z-index:4; ">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
  <span class="w3-bar-item w3-left"><h1>The Real Freel</h1></span>
  <span class="w3-bar-item w3-right"><h1 style="justify-content: center;">MCLA Freel Feel</h1></span>  
  <span class="w3-bar-item w3-right"><img src="https://i.ibb.co/LQX7xK8/FFsolidblue.png" alt="FFsolidblue" border="0" style="height: 5em;"></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-blue w3-animate-left" style="z-index:3;width:300px;margin-top: 5em;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Staff</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
    <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
    <h3 class="w3-yellow">Queries</h3>
    <a href="{{url_for('query_between_HOURS')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; Between Hours</a>
    <a href="{{url_for('query_between_DAYS')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; Between Days</a>
    <a href="{{url_for('query_by_DAY')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; By Day</a>
    <a href="{{url_for('query_by_HOUR')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; By Hour</a>
    <a href="{{url_for('querySpecific')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; Range</a>
    <h3 class="w3-yellow">Info</h3>
<a href="{{url_for('device')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-microchip fa-fw"></i>&nbsp; Device Info</a>    <a href="{{url_for('project')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-code-fork fa-fw"></i>&nbsp; Project Info</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-blue" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{uptime}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Version Uptime</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{llog}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Last Entry</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-yellow w3-padding-16">
        <div class="w3-left"><i class="fa fa-user w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{lhour}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Last Hour</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-yellow w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{lday}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Today's Visitors</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">

      <form action = "{{url_for('querySpecific')}}" method = "POST">

          <p>Year 
            <select class="w3-select" name="year" required>
              <option value="" disabled selected >Choose your option</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select> </p>

          <p>Start Month 
            <select class="w3-select" name="month1" required>
              <option value="" disabled selected >Choose your option</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select> </p>

          <p>Start Day 
              <select class="w3-select" name="day1" required>
                <option value="" disabled selected >Choose your option</option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select> </p>

          <p>Start Hour 
              <select class="w3-select" name="hour1" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="07">7 am</option>
                <option value="08">8 am</option>
                <option value="09">9 am</option>
                <option value="10">10 am</option>
                <option value="11">11 am</option>
                <option value="12">12 pm</option>
                <option value="13">1 pm</option>
                <option value="14">2 pm</option>
                <option value="15">3 pm</option>
                <option value="16">4 pm</option>
                <option value="17">5 pm</option>
                <option value="18">6 pm</option>
                <option value="19">7 pm</option>
                <option value="20">8 pm</option>
                <option value="21">9 pm</option>
                <option value="22">10 pm</option>
                <option value="23">11 pm</option>
                <option value="24">12 pm</option>
              </select> </p>

          <p>End Month 
            <select class="w3-select" name="month2" required>
              <option value="" disabled selected >Choose your option</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select></p>          

          <p>End Day 
              <select class="w3-select" name="day2" required>
                <option value="" disabled selected >Choose your option</option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select> </p>

          <p>End Hour 
              <select class="w3-select" name="hour2" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="07">7 am</option>
                <option value="08">8 am</option>
                <option value="09">9 am</option>
                <option value="10">10 am</option>
                <option value="11">11 am</option>
                <option value="12">12 pm</option>
                <option value="13">1 pm</option>
                <option value="14">2 pm</option>
                <option value="15">3 pm</option>
                <option value="16">4 pm</option>
                <option value="17">5 pm</option>
                <option value="18">6 pm</option>
                <option value="19">7 pm</option>
                <option value="20">8 pm</option>
                <option value="21">9 pm</option>
                <option value="22">10 pm</option>
                <option value="23">11 pm</option>
                <option value="24">12 pm</option>
              </select> </p>

               <div class="btn-group">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Submit</button>
              </div>
      </form>
  </div>
 <div class="w3-whole w3-center">
 <h1 style="color:yellow;">Your Results! \,,/(^_^)\,,/</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Month</th>
          <th>Day</th>
          <th>Hour</th>
          <th>Count</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content w3-centered w3-text-black">
    <table >
      <tbody>
            {% for row in resp %}
              <tr class="icu">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>
  </div>  




  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-blue">
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
</body>
</html>

