.jumbotron {
	background: url("https://i.ibb.co/gPBYKjH/FFtransparent-yellow.png") center no-repeat;
	background-size: 50%;
}
.jumbotron-heading{
	color: gold;
}

.jsub{
	color: black;
}

.album{
	background-color: #e3e935;
}

footer{
	background-color: #e3e935;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
}
